@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Sans+Pro&display=swap');

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;   
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    width: 800px;
    height: 300px;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    overflow: hidden;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.dropdown {
    float: left;
    overflow: hidden;
} 

/* .dropdown .dropButton {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
} */

/* nav a:hover, .dropdown:hover .dropButton {
    background-color: red;
} */

.dropLinks {
    display: none;
    /* position: absolute; */
    background-color: #777;
    min-height: 160px;
    z-index: 1;
}

.dropdown:hover .dropLinks {
    display: grid;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}